[push]
	default = current
[user]
	email = geir.evensen@gmail.com
	name = geirev
[rerere]
	enabled = true
[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
	enforce = push --force-with-lease
        pr = "!f() { git fetch $1 pull/$2/head:pull_$2; git switch pull_$2; }; f"
[init]
	defaultbranch = main
[pull]
	rebase = true
[rebase]
	autoStash = true
[interactive]
	diffFilter = diff-so-fancy --patch
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = /home/AD.NORCERESEARCH.NO/geev/.gitignore
	askpass = git-gui--askpass
[pager]
	show = diff-so-fancy | less --tabs=1,5 -RFX
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
